body {
    font-family: Arial, sans-serif;
    background-color: #f2e3e7;
    margin: 20px;
    text-align: center;


}
h1 {
    color: black;
    margin-bottom: 30px;

}
.product-box {
    background-color: white;
    border: 2px solid gray;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
}
.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-box h2 {
    color: black;
    font-size: 25px;
    margin-top: 10px;
}
.description {
    color: dimgray;
    font-size: 15px;
    margin: 10px 0;

}
.price {
    color: rgb(156, 51, 51);
    font-size: 15px;
    font-weight: bold;
}


button {
    background-color: rgb(55, 46, 226);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkblue;
}