 body {
      background-color: #d3d3d3;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: black;
      margin-top: 30px;
    }

    .product-card {
      background-color:rgb(233, 220, 220);
      width: 300px;
      margin: 40px auto;
      border: 1px solid #0e0c0c;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      padding: 15px;
    }

    .product-card img {
      width: 100%;
      border-radius: 5px;
    }

    .product-title {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
    }

    .product-description {
      color: #555;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .price {
      color: red;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .add-to-cart {
      background-color: blue;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .add-to-cart:hover {
      background-color: rgb(27, 74, 37);
    }